{
  "server": {
    "http": {
      "port": 3080
    },
    "https": {
      "port": 3000,
      "cert": "certs/cert.pem",
      "key": "certs/key.pem"
    }
  },
  "database": {
    "url": "localhost/tbl"
  }
}
